.ragdoll{
    text-align:center;
    margin:0;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.try { 
    background-image: url("image/background.jpeg");
    zoom:1;
    background-size: cover;
    background-position: bottom;
}
img{
    height:200px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display:block;
    border: 0.2em;
    border-style: ridge;
}
h2{
    text-align: center;
    color:rgba(18, 6, 41,0.7);
    font-size: 2.3em;
    font-family: Georgia, 'Times New Roman', Times, serif
}
p{
    font-size:20px;
    text-indent: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif
}
